# Logs
logs
*.log
npm-debug.log*


# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# node_modules 
server/node_modules/
admin/node_modules/

# server 后端
server/logs/*

# admin 管理后台前端
admin/dist/
